<template>
  <div>
    <section class="destination">
      <go-back />
      <h1>{{ destination.name }}</h1>
      <div class="destination-details">
        <img :src="`/images/${destination.image}`" :alt="destination.name" />
        <p>{{ destination.description }}</p>
      </div>
    </section>
    <section class="experiences">
      <h1>{{ destination.name }}</h1>
      <div class="cards">
        <router-link
          v-for="card in destination.experiences"
          :key="card.slug"
          :to="{
            name: 'experience.show',
            params: { experienceSlug: card.slug },
          }"
        >
          <ExpirienceCard :experience="card"
        /></router-link>
      </div>

      <router-view />
    </section>
  </div>
</template>

<script>
import sourceData from "@/data.json";
import ExpirienceCard from "@/components/ExperienceCard.vue";
import GoBack from "@/components/GoBack.vue";

export default {
  components: {
    ExpirienceCard,
    GoBack,
  },
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  computed: {
    destination() {
      return sourceData.destinations.find((item) => item.id === this.id);
    },
  },
};
</script>

<style></style>
