<template>
  <Navbar />

  <div class="container">
    <router-view v-slot="{Component}">
      <transition name="slide" mode="out-in">
        <component :is="Component" :key="$route.path"></component>
      </transition> 
		</router-view>
  </div>
</template>

<script>
import Navbar from "@/components/TheNavbar.vue";

export default {
  components: {
    Navbar,
  },
};
</script>

<style src="@/assets/main.css"></style>
<style lang="css">
.slide-enter-active, .slide-leave-active {
	transition: all 1s ease;
}


.slide-leave-to, .slide-enter-from {
	opacity: 0;
	transform: translateX(-30%);
}


</style>